.graph-holder {
    width: 460px;
    height: 320px;
}
.counter-input {
    display: inline;
    width: 30px;
}
.counter-control {
    margin: -9px 0px 0 7px;
}
.settings-button {
    margin: 0 10px 0 0;
}